<launch>
	<rosparam file="$(find particle_2d)/share/particle_filter_params.yaml"/>
	<include file="$(find uml_mcl)/launch/mcl.launch"/>
	<node pkg="maze_runner_random_wander" type="wander.py" name="wander" output="screen"/>
	<node pkg="particle_2d" type="particle_filter.py" name="pf" output="screen"/>
</launch>